h1 {color: yellow;
	text-align: center}
body {background-color: lightblue}
.dua {color:blue;font-size: 14px}
.satu {width: 350px; }
.iya {text-align: justify;font-size: 20px}
.oke {color:green}
.col-sm-4 {color: black}
.izal {color: red}